{% extends 'dashboard/layout.html' %} {% block title %} Dashboard {% endblock %}
{% block content %}
<h1>Project description</h1>
<p>
I wanted to create a little Django project to get some practise retrieving data from an API, storing it in a db and presenting it.
Since starting the project I've learned to:
<ul>
    <li>create a Django project</li>
    <li>try some common design patterns</li>
    <li>fetch and manipulate data</li>
</ul>
For the next stage of the project I want to get it hosted on Replit and then:
<ul>
    <li>refactor some of the code to create fetch data with cron</li>
    <li>represent some of the historical data being collected</li>
    <li>play around with ways of using different location data</li>
</p>
{%endblock%}
