{% extends 'dashboard/layout.html' %}{% load static %} {% block content %}
<main>
  <div class="moon_div">
    <img class="moon" src="{% static moon_image %}" width="200" height="200" />
  </div>
  <h2>{{phase_name}}: day {{phase_age}}</h2>
  <p>Moonrise: {{moonrise}}</p>
  <ul>
    <li>Azimuth: {{azimuth}}</li>
    <li>Lat.: {{latitude}}</li>
    <li>Long.: {{longitude}}</li>
  </ul>
  <p>Moonset: {{moonset}}</p>
  <p>Next full moon: {{next_full_moon}}</p>

  <p>Last updated {{timestamp}}</p>
</main>
{% endblock %}
