{% extends 'dashboard/layout.html' %} {% block title%} Moon {% endblock %}
<a></a>
{% load static %}
<a></a>
{% block content %}
<h2>Moon</h2>
<ul>
  <li><a> {{timestamp}}</a></li>
  <li><a> {{moonrise}}</a></li>
  <li><a> {{moonset}}</a></li>
  <li><a> {{phase_name}} </a></li>
  <li><a> {{phase_stage}}</a></li>
  <li><a> {{phase_age}}</a></li>
  <li><a> {{emoji}}</a></li>
  <li><a> {{next_full_moon}}</a></li>
  <li><a> {{azimuth}}</a></li>
  <li><a> {{latitude}}</a></li>
  <li><a> {{longitude}}</a></li>
</ul>
<img src="{% static moon_image %}" width="200" height="200" /> <a></a>
{% endblock %}
